{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
    {% include 'products/header.html' %}

    <div class="container">
        <h1>О компании</h1>
        <div class="about-content">
            <p>Основными направлениями деятельности ООО «Бентонит Хакасии» являются геологоразведка, добыча, транспортировка, переработка, хранение и реализация продукции на основе бентонита и других минералов. Наше предприятие придерживается высоких этических норм во всех рабочих процессах, что находит отражение в Кодексе Этики. Кодекс регулирует этические аспекты нашей внутренней и внешней деятельности, является основой для наших действий и решений.</p>
            <p>Для выполнения Миссии и решения стратегических задач мы опираемся на наши корпоративные ценности:</p>
            <ul>
                <li>справедливость и объективность в оценке труда — мы постоянно совершенствуем систему материальной мотивации персонала. Мы предоставляем возможности для реализации профессионального и творческого потенциала каждого сотрудника, приветствуем инициативу, рационализаторские предложения и новые идеи;</li>
                <li>бережливость — каждый из нас ответственен за экономное и эффективное использование ресурсов, за сохранность имущества предприятия.</li>
                <li>безопасность труда  — безопасность сотрудников является нашим главным приоритетом. Мы организуем работу и создаем такие условия, чтобы был исключен вред здоровью и жизни людей. Каждый из нас ответственен за собственную безопасность и безопасность коллег;</li>
                <li>командность — мы должны быть слаженной командой, единым целым. Трудности и возникающие проблемы предприятия мы должны решать сообща. Мы должны быть отзывчивыми и адекватными при общении с коллегами. Мы бескорыстно помогаем друг другу и заботимся друг о друге.</li>
            </ul>
            <p>Мы уверены, что следуя нашим убеждениям и действуя на основе системы наших ценностей, предприятие достигнет поставленных целей, а наши сотрудники будут фундаментом в конкурентном преимуществе.</p>
        </div>
    </div>
</body>
</html>