{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.Наименование }}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
    {% include 'products/header.html' %}

    <div class="container">
        <a href="{% url 'product_type_list' product.id_тип %}" class="back-link">←</a>
        <div class="product-details">
            <img src="{% if product.Изображение %}{{ product.Изображение }}{% else %}https://via.placeholder.com/300?text=Product+Image{% endif %}" alt="Изображение продукта">
            <div class="info">
                <h1>{{ product.Наименование }}</h1>
                <p>{{ product.Стоимость }} ₽</p>
                <button class="add-to-cart" 
                        data-product-id="{{ product.id }}" 
                        data-product-name="{{ product.Наименование }}" 
                        data-product-price="{{ product.Стоимость }}"
                        data-product-image="{% if product.Изображение %}{{ product.Изображение }}{% else %}https://via.placeholder.com/50?text=Product+Image{% endif %}">
                    В корзину
                </button>
                <p>Описание продукции</p>
                <p>{{ product.Описание }}</p>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('.add-to-cart').addEventListener('click', function() {
            const productId = this.getAttribute('data-product-id');
            const productName = this.getAttribute('data-product-name');
            const productPrice = parseFloat(this.getAttribute('data-product-price'));
            const productImage = this.getAttribute('data-product-image');

            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            const existingProduct = cart.find(item => item.id === productId);

            if (existingProduct) {
                existingProduct.quantity += 1;
            } else {
                cart.push({
                    id: productId,
                    name: productName,
                    price: productPrice,
                    image: productImage,
                    quantity: 1
                });
            }

            localStorage.setItem('cart', JSON.stringify(cart));

        });
    </script>
</body>
</html>